body {
    color: #f8f8f2;
    background-color: #282a36;
    margin: 16px;
}

a:link {
    color: #8be9fd;
    text-decoration: none;
}

a:hover {
    color: #72e4fd;
}

a:visited {
    color: #bd93f9;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-right: 16px;
    font-size: 36pt;
}
